.container-header {
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px;
    max-width: 1200px;
    margin: 0px auto;

    &_left {
      span {
        color: var(--color-primary);
      }
    }

    &_right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      nz-avatar {
        background-color: var(--color-primary);
        cursor: pointer;
      }

      &_close {
        cursor: pointer;
      }
    }
  }
}
