<div class="container-list">
  <div class="container-list_head">
    <span> Lista de clientes </span>
    <button nz-button nzType="primary" (click)="openModal()">Agregar</button>
  </div>
  <ng-container *ngIf="dataSource$ | async as data">
    <ng-container *ngIf="data.length > 0; else emptyClients">
      <div class="container-list_content">
        <ng-container *ngFor="let client of data">
          <nz-card [nzHoverable]="true">
            <div class="container-list_content_child">
              <span
                class="container-list_content_child_icon-client"
                nz-icon
                nzType="user"
                nzTheme="outline"
              ></span>
              <div class="container-list_content_child_info">
                <span>
                  Nombres: <strong>{{ client.names }}</strong>
                </span>
                <span>
                  Apellidos: <strong>{{ client.lastNames }}</strong>
                </span>
                <span>
                  Años: <strong>{{ client.years }}</strong>
                </span>
                <span>
                  Fecha de nacimiento:
                  <strong>{{ client.birthDate | birthDate }}</strong>
                </span>
              </div>
              <span
                class="container-list_content_child_delete"
                nz-icon
                nzType="delete"
                nzTheme="outline"
                (click)="changeDelete(client)"
              ></span>
              <span
                class="container-list_content_child_edit"
                nz-icon
                nzType="edit"
                nzTheme="outline"
                (click)="openModal(client)"
              ></span>
            </div>
          </nz-card>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #emptyClients>
    <div class="container-list_empty">
      <nz-empty />
    </div>
  </ng-template>
</div>
