.container-dashboard {
  display: flex;
  flex-direction: column;

  &_header {
    position: sticky;
    top: 0;
  }

  &_body {
    padding: 20px;
    width: 100dvw;
    margin: 0px auto;

    @media (min-width: 1250px) {
      min-width: 1200px;
      max-width: 1200px;
      padding: 20px 0px;
      width: 1200px;
    }
  }
}
