.container-auth {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_google {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    cursor: pointer;

    span {
      font-size: 20px;
    }

    img {
      height: 130px;
      width: 130px;
    }
  }
}
