<div class="container-delete">
  <div class="container-delete_body">
    <span>
      Se eliminara al cliente:
      <strong>
        {{ nzModalData.client.names }} {{ nzModalData.client.lastNames }}.
      </strong>
    </span>
    <span> Este cliente ya no se podrá recuperar. </span>
  </div>
  <div class="container-delete_footer">
    <button
      nz-button
      nzType="dashed"
      (click)="cancel()"
      [disabled]="isLoading$ | async"
    >
      Cancelar
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="continue()"
      [nzLoading]="isLoading$ | async"
    >
      Continuar
    </button>
  </div>
</div>
